<% provide(:title, "Vorgänger-Nachfolger-Beziehungen") %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event_job_job_association.event.name %>
</p>

<p>
  <strong>Vorgänger:</strong>
  <%= @event_job_job_association.predecessor.name %>
</p>

<p>
  <strong>Nachfolger:</strong>
  <%= @event_job_job_association.successor.name %>
</p>

<%= link_to 'Ändern', edit_event_job_job_association_path(@event_job_job_association) %> |
<%= link_to 'Zurück', event_job_job_associations_path %>
