<% if logged_in? %>
<% if current_user.admin? && !current_user?(users_path) %>

<% provide(:title, 'Eventplanung') %>
<h1>Optimierung der Eventplanung</h1>

  <%= link_to "Hier geht es zur Verwaltung der Events!", events_path %><br>
  <%= link_to "Hier geht es zur Verwaltung der Vorgänge!", jobs_path %><br>
  <%= link_to "Hier geht es zur Verwaltung der Perioden!", periods_path %><br>
  <%= link_to "Hier geht es zur Verwaltung der Vorgänger-Nachfolger-Beziehungen!", event_job_job_associations_path %><br>
  <%= link_to "Hier geht es zur Verwaltung der Event-Vorgang-Periode!", event_job_period_associations_path %><br>
</p>

<br>

    <div class="image">
      <%= link_to image_tag("gams.jpg", height: '50', alt:"GAMS logo"), gams_paths_path %><br>
      <%= link_to 'Verwaltung des GAMS-Pfads', gams_paths_path %> <br>
    </div>

    <%= button_to "Produktions- und Lagerplan löschen", :controller => 'event_job_period_associations', :action => 'delete_old_plan' %>
    <%= button_to "Eventplanung optimieren", :controller => 'event_job_period_associations', :action => 'optimize' %>
    <%= button_to "Ergebnisse anzeigen", :controller => 'event_job_period_associations', :action => 'read_optimization_results' %>

    <% if @objective_function_value!=nil %>
        Die Kosten betragen <%=   @objective_function_value %> Geldeinheiten!<br><br>
    <% end %>
<% end %>
<% end %>