<% provide(:title, "Vorgänge") %>

<h1>Übersicht der Vorgänge</h1>

<div style="width: auto">
  <table id="jobs" class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Event</th>
    <th>Vorgang</th>
    <th>Beschreibung</th>
    <th>VorgangsDauer</th>
    <th>Ressourcenbedarf</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.event.name %></td>
        <td><%= job.name %></td>
        <td><%= job.jobtext %></td>
        <td><%= job.processing_time %></td>
        <td><%= job.ressource_demand %></td>
        <td><%= link_to 'Anzeigen', job %></td>
        <td><%= link_to 'Ändern', edit_job_path(job) %></td>
        <td><%= link_to 'Entfernen', job, method: :delete, data: { confirm: 'Möchten Sie diesen Eintrag sicher entfernen?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= button_to 'Neuen Vorgang anlegen', new_job_path, method: :get, :class => "btn btn-primary" %>
<br>
<%= link_to 'Zurück zur Eventplanung', tcpsp_path %>
</div>
